.sidebar {
  height: 100%;
  width: 200px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  overflow-x: hidden;
  padding-top: 20px;
  background-color: #011936;
}

.content {
  position: fixed;
  background-color: #011936;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 200px;
  height: 98%;
}

.sidebar button {
  border: none;
  justify-items: left;
  align-items: left;
}

.items {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 16px;
  background-color: transparent;
  display: block;
  border: none;
  text-align: right;
  color: white;
}

.items.active {
  font-weight: bold;
  background-color: #0056b3;
  color: white;
}

.items.dormant {
  color: white;
  font-weight: normal;
  &:hover {
    background-color: #0056b3;
    font-weight: bold;
  }
}

.logout {
  border: none;
  width: 100%;
  font-size: 16px;
  margin-top: auto;
  text-align: center;
  cursor: pointer;
}

.logout.button {
  width: 100%;
  color: white;
  background-color: #011936;
}

.logout.button:hover {
  color: white;
  font-weight: bold;
  background-color: #0056b3;
}
