.sidebar {
  height: 100%;
  width: 200px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  overflow-x: hidden;
  padding-top: 18px;
  background-color: #fff;
}

@media (max-width: 800px) {
  .sidebar {
    display: none;
  }
}

.content {
  position: fixed;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 200px;
  height: 98%;
}

.sidebar button {
  border: none;
  justify-items: left;
  align-items: left;
}

.sidebar-items.active {
  background-color: #5865f2;
  color: white;
  margin: 0 15px 0 15px;
  text-transform: initial;
}

.sidebar-items.dormant {
  color: #2c2f33;
  margin: 0 15px 0 15px;
  text-transform: initial;
  &:hover {
    background-color: #5865f2;
    color: white;
  }
}

.logout {
  border: none;
  font-size: 16px;
  margin-top: auto;
  margin-left: 15px;
  text-align: center;
  cursor: pointer;
  color: #5865f2;
}

.logout.button {
  color: white;
  background-color: #5865f2;
}

.logout.button:hover {
  color: white;
  background-color: #2c2f33;
}

.sidebar-icons {
  font-size: x-large;
  padding: 10px
}
