Table {
  table-layout: fixed;
  width: 100px;
  min-width: 100px;
}

.table-cell {
  background-color: #011936;
  font: bold;
}

.table-wrapper {
  top: 0;
  bottom: 0;
  left: 0;
  position: fixed;
  overflow-y: scroll;
  overflow-x: hidden;
  margin-left: 200px; /* same width as sidebar */
}

.table-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
}

.modal .save {
  color: white;
  background-color: #011936;
}

.modal .save:hover {
  background-color: #0056b3;
}

.modal .cancel {
  color: black;
  background-color: #d5d6d7;
}

.modal .cancel:hover {
  color: white;
  background-color: #0056b3;
}

.action-icon {
  color: #011936;
}

.table-wrapper .empty-table {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: large;
}
