div .table-wrapper {
  bottom: 0;
  left: 0;
  margin: 0;
  overflow: hidden;
  position: relative;
}

.table-wrapper .empty-table {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: large;
}
