.table-container {
  border-radius: 10px;
}

.table-wrapper {
  top: 0;
  bottom: 0;
  left: 0;
  position: fixed;
  overflow-y: scroll;
  overflow-x: hidden;
  margin-left: 200px; /* same width as sidebar */
  border-radius: 10px;
}

.table-wrapper .empty-table {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: large;
}
