@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  font-family: 'Figtree', serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: light;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #F7F8FA;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  place-items: center;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
  color: black;
}

h1 {
  display: flex;
  place-items: center;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #5865f2;
}

button {
  background-color: #5865f2;
  cursor: pointer;
}

button:hover {
  border-color: #2C2F33;
}
