.save {
  color: white;
  background-color: #5865f2;
}

.save:hover {
  background-color: #2c2f33;
}

.cancel {
  color: black;
  background-color: #d5d6d7;
}

.cancel:hover {
  color: white;
  background-color: #2c2f33;
}
